# Python
__pycache__/
*.py[cod]
*.class
venv/
.venv/

# Data & Heavy Binary Outputs (>30MB)
data/raw_video/*
data/frames/*.jpg
data/masks/*.png
data/colmap_output/database.db
data/colmap_output/dense/
data/colmap_output/exports/*.ply
data/colmap_output/exports/*.obj
data/colmap_output/exports/*.las
data/colmap_output/exports/*.fbx
data/colmap_output/exports/*.glb

# Logs & temp
*.log
.DS_Store
